openapi: 3.0.1
info:
  title: Online Order API
  version: 1.0.0
  description: A basic API for working with the Swagger tools.

servers:
  - url: http://localhost:3000
    description: Local development server


paths:
  /orders:
    summary: Get all order data.
    description: Retrieve order data from orders.json.
    get:
      summary: Get orders
      operationId: get_orders
      responses:
        '200':
          description: Successful retrieval of order data.
          content:
            application/json:
              examples:
                orders:
                  value: |
                    {
                      "orders": [
                        { "name": "Carey Maynard", "id": "001", "state": "pending" },
                        { "name": "Angelo Ayala", "id": "002", "state": "canceled" },
                        { "name": "Regina Yates", "id": "003", "state": "pending" },
                        { "name": "Elliott Mcclure", "id": "004", "state": "pending" }
                      ]
                    }
        '500':
          description: Server error
          content:
            application/json:
              examples:
                ServerError:
                  value: |
                    { "error": "An unexpected error occurred." }
      tags:
        - Orders

  /neworder:
    summary: Add a new order.
    post:
      summary: Add new order.
      operationId: new_order
      requestBody:
        description: A new order object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
            example:
              name: John Smith
              id: "005"
              state: pending
      responses:
        '201':
          description: Order created.
          content:
            application/json:
              examples:
                Created:
                  value: |
                    {
                      "message": "Order added successfully.",
                      "order": {
                        "name": "John Smith",
                        "id": "005",
                        "state": "pending"
                      }
                    }
        '400':
          description: Bad request.
          content:
            application/json:
              examples:
                Invalid:
                  value: |
                    { "error": "Missing required fields." }
      tags:
        - New_order

  /update/{id}:
    summary: Update an order.
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the order to update.
    put:
      summary: Update an order.
      operationId: update_order
      requestBody:
        description: Updated order data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
            example:
              id: "002"
              name: "Angelo Ayala"
              state: pending
      responses:
        '200':
          description: Order updated.
          content:
            application/json:
              examples:
                Updated:
                  value: |
                    {
                      "message": "Order updated.",
                      "order": {
                        "id": "002",
                        "name": "Angelo Ayala",
                        "state": "pending"
                      }
                    }
        '404':
          description: Order not found.
          content:
            application/json:
              examples:
                NotFound:
                  value: |
                    { "error": "Order with the specified ID was not found." }
      tags:
        - Update_order

  /delete/{id}:
    summary: Delete an order.
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the order to delete.
    delete:
      summary: Delete an order.
      operationId: delete_order
      responses:
        '200':
          description: Order deleted.
          content:
            application/json:
              examples:
                Deleted:
                  value: |
                    { "message": "Order deleted successfully." }
        '404':
          description: Order not found.
          content:
            application/json:
              examples:
                NotFound:
                  value: |
                    { "error": "Order with the specified ID was not found." }
      tags:
        - Delete_order

components:
  schemas:
    Order:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        state:
          type: string
      required:
        - name
        - id
        - state
